<div class="register">
  Register <br><br>
  <label for="username">Username: </label><br>
  <input type="text" name="username" id="username">
  <br>
  <label for="password">Password: </label><br>
  <input type="password" name="password" id="password">
  <br>
  <label for="name">Name: </label><br>
  <input type="text" name="name" id="name">
  <br>
  <label for="email">Email: </label><br>
  <input type="email" name="email" id="email">
  <br><br>
  <button type="button" name="button" onclick="back()">Back</button>
  <button type="button" name="confirm" onclick="send_registration_data()">Confirm</button>
</div>
